@charset "utf-8";
/*/@import url("segundo.css") screen;*


/* CSS Document */
.clase1{
    color: red;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    font-family: Impact, Haettenschweiler, "Franklin Gothic Bold", "Arial Black", sans-serif;
}

.clase2{
    text-align: center;
    color: yellow;
	border: solid 10px red;
}
p {
    color: #0D740C !important;
    text-decoration: overline !important;
    font-size: 20px;
    text-align: center;
}
.pp{
    color: red;
    text-align: right;
}
.nuevo {
    color: #FF0096;
    font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
    font-style: normal;
    font-variant: normal;
    font-weight: bold;
    font-size: 20px;
    text-decoration: underline;
    border-radius: 57px;
    background-color: #B9696A;
    background-image: -webkit-linear-gradient(0deg,rgba(193,241,14,1.00) 0%,rgba(255,0,71,1.00) 100%);
    background-image: -moz-linear-gradient(0deg,rgba(193,241,14,1.00) 0%,rgba(255,0,71,1.00) 100%);
    background-image: -o-linear-gradient(0deg,rgba(193,241,14,1.00) 0%,rgba(255,0,71,1.00) 100%);
    background-image: linear-gradient(90deg,rgba(193,241,14,1.00) 0%,rgba(255,0,71,1.00) 100%);
    border: 2px solid #030303;
    width: 100%;
    margin-top: 15px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: auto;
    height: 0%;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    border-collapse: separate;
}
.nuevo em strong {
}
.clase1 {
}





@media screen and (orientation:landscape) and (min-width:100px){
	p{color: red;
    text-align: left; }
.nuevo em strong {
}

h1 {
}
.nuevo em strong21 {
}
}

@media screen{
.nuevo em strong {
}
}
